<div class="section white">
  <div class="row container">
    <img class="logo" src="assets/img/Logo.png">
    <h5>What is
      <strong>WHT?</strong> ? </h5>
    <p class="grey-text text-darken-3 lighten-3">
      <strong>WHT?</strong> is a chat in which you select your language and, <strong>in real time,</strong> you can 
      chat with millions of users, no matter the language</p>
      <a [routerLink]="['/signup']" class="right btn-floating pulse btn-small waves-effect waves-light teal darken-3">
        <i class="medium material-icons prefix">add</i>
      </a>
    <p class="grey-text text-darken-3 lighten-3">Do you wanna try?</p>
    <p class="grey-text text-darken-3 lighten-3"><strong>Sign up</strong> and enjoy!</p>

  </div>
</div>
<div class="parallax-container">
  <div class="parallax" materialize="parallax">
    <img class="parallax-image" src="assets/img/telephone.jpg">
  </div>
</div>
<div class="section white">
  <div class="row container">
    <h2 class="header">WHT? is the future</h2>
    <ol>
      <li class="grey-text text-darken-3 lighten-3">Enjoy chatting with anyone in the world.</li>
      <li class="grey-text text-darken-3 lighten-3">Free simultaneous interpretation.</li>
      <li class="grey-text text-darken-3 lighten-3">Automatic union with a foreigner.</li>
      <li class="grey-text text-darken-3 lighten-3">Learn a foreign language by speaking with a foreigner.</li>
      <li class="grey-text text-darken-3 lighten-3">Real-time translation in more than 6 languages and growing.</li>
    </ol>
    <a [routerLink]="['/signup']" class="right btn-floating pulse btn-small waves-effect waves-light teal darken-3">
      <i class="medium material-icons prefix">add</i>
    </a>
  <p class="grey-text text-darken-3 lighten-3">Do you wanna try?</p>
  <p class="grey-text text-darken-3 lighten-3"><strong>Sign up</strong> and enjoy!</p>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax" materialize="parallax">
    <img class="parallax-image" src="assets/img/people.jpg">
  </div>
</div>
<div class="section white">
  <div class="row container">
    <h2 class="header">I said:</h2>
    <a [routerLink]="['/signup']" class="right btn-floating pulse btn-small waves-effect waves-light teal darken-3">
      <i class="medium material-icons prefix">add</i>
    </a>
  <h4 class="grey-text text-darken-3 lighten-3">Do you wanna try?</h4>
  <h4 class="grey-text text-darken-3 lighten-3"><strong>Sign up</strong> and enjoy!</h4>
  </div>
</div>
