<h3>ALL USERS</h3>
<table class="highlight">
    <thead>
      <tr>
          <th>Username</th>
          <th>Add as Friend</th>
          <th *ngIf="user.role === 'ADMIN'">DELETE</th>
      </tr>
    </thead>

    <tbody>
        <tr *ngFor="let usr of users">
            <td *ngIf="usr.username !== user.username">{{usr.username}}</td>
            <td *ngIf="usr.username !== user.username">
              <a href="javascript:;" (click)="addUserAsFriend(usr.id)" >
                <i class="material-icons">add</i>
              </a>
            </td>
            <td *ngIf="(usr.username !== user.username) && (user.role === 'ADMIN')">
                <a href="javascript:;" (click)="deleteUserAsFriend(usr)" >
                  <i class="material-icons">add</i>
                </a>
              </td>
          </tr>
    </tbody>
  </table>