<h2>My Chats</h2>

<div class="collection">
  <a *ngFor="let chatG of chatsGroups" href="" class="collection-item" 
  [routerLink]="['/chats', chatG.groupName]">{{chatG.groupName}}</a>
  <a href="" class="collection-item">
    <span class="new badge">4</span>New Messages
  </a>
</div>

{{ apiError }}

<div class="row"> 
    <div class="col s11 offset-s1">
      <h2>NEW CHAT</h2>
      <p>Here you can create a new chat</p>
    </div>
    <form class="col s11 offset-s1" (ngSubmit)="onSubmitCreate(updateForm)" #updateForm="ngForm">
      <div class="row">
        
        <div class="input-field col s10">
            <i class="material-icons prefix">account_circle</i>
            <input placeholder="groupName" id="groupName" type="text" [(ngModel)]="chat.groupName" 
            data-length="40" name="groupName" class="validate" pattern="^\S{3,40}$" #groupName="ngModel" required>
            <label for="groupName">groupName</label>
            <span class="helper-text" *ngIf="groupName.errors && groupName.touched">
              <ul>
                <li *ngIf="groupName.errors?.pattern">White spaces not allow and length 3-40</li>
                <li *ngIf="groupName.errors?.required">Required</li>
              </ul>
            </span>
        </div>
        <!-- <div class="input-field col s10">
            <i class="material-icons prefix">account_circle</i>
            <input placeholder="Name" id="name" type="text" [(ngModel)]="user.name" name="name" #name="ngModel">
            <label for="name">Name</label>
        </div> -->
      </div>
      <div class="row">
        <button class="btn waves-effect teal darken-3" type="submit" name="action" [disabled]="!updateForm.valid">
          Create
          <i class="material-icons right">add</i>
        </button>
        <div class="input-field col s10">
          <label>{{ apiError }}</label>
        </div>
      </div>
    </form>
  </div>