<ng-container *ngIf="!rerender">
<div class="row"> 
    <div class="col s11 offset-s1">
      <h5>CHAT: {{grpName}}</h5>
      <strong>Users:</strong><p> {{user.username}}, {{secondChatUser.username}}</p>
    </div>
    <div class="col s10 offset-s1">
        <a class="btn-floating btn-small waves-effect waves-light teal darken-3" type="submit" name="action" 
        (click)="disconnect()"><i class="material-icons right">keyboard_arrow_left</i>
        </a>
      <a *ngIf= 'user.role === "SUPERUSER"' class="btn-floating btn-small waves-effect waves-light red darken-3 right" 
      (click)="deleteChat()"><i class="material-icons right">delete_forever</i></a>
      <a class="btn-floating btn-small waves-effect waves-light lime darken-3 right" 
      (click)="leaveChat()"><i class="material-icons right">delete</i></a>
    </div>
    <div class="col s10 offset-s1" id="messages" ></div>
    <form class="col s11 offset-s1" (ngSubmit)="onSubmitSendMessage(updateForm)" #updateForm="ngForm">
      <div class="row">
          <div class="input-field col s10">
            <img *ngIf="this.user.id === this.chat.createdBy" class="circle prefix" height="35" src="../../../../assets/img/{{this.chat.firstLanguage}}.svg"/>
            <img *ngIf="this.user.id !== this.chat.createdBy" class="circle prefix" height="35" src="../../../../assets/img/{{this.chat.secondLanguage}}.svg"/>
            <input placeholder="Message" id="text" type="text" [(ngModel)]="mnsToSend" 
            name="text" #text="ngModel" required>
            <span class="helper-text" *ngIf="text.errors && text.touched">
              <ul>
                <li *ngIf="text.errors?.required">Required</li>
              </ul>
            </span>
        </div>        
      </div>
      <div class="row">
        <button class="btn waves-effect teal darken-3" type="submit" name="action" [disabled]="!updateForm.valid">
          Create
          <i class="material-icons right">add</i>
        </button>
        <div class="input-field col s10">
          <label>{{ apiError }}</label>
        </div>
      </div>
    </form>
  </div>





<div *ngIf= '!loadAddUser'>
    <button class="btn waves-effect teal darken-3" type="submit" name="action" (click)="loadAddUserComponent()">
      Add users
      <i class="material-icons right">add</i>
    </button>
</div>
<div *ngIf= 'loadAddUser'>
  <app-chat-adduser [user] = user [chat] = chat (onAddUser)="unloadAddUserComponent($event)"></app-chat-adduser>
</div>
</ng-container>