/* label color */
.input-field label {
  color: rgb(9, 109, 62);
}
/* label focus color */
.input-field input[type=email]:focus+label {
  color: rgb(9, 109, 62);
  ;
}
/* label underline focus color */
.input-field input[type=email]:focus {
  border-bottom: 1px solid rgb(9, 109, 62);
  box-shadow: 0 1px 0 0 rgb(230, 230, 230);
}
/* valid color */
.input-field input[type=email].valid {
  border-bottom: 2px solid rgb(0, 161, 13);
  box-shadow: 0 1px 0 0 rgb(228, 228, 228);
}
 /* invalid color */
 .input-field input[type=email].invalid {
  border-bottom: 2px solid rgb(255, 6, 18);
  box-shadow: 0 1px 0 0 rgb(228, 228, 228);
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: rgb(9, 109, 62);
}