<div class="row">
  <div class="col s12">
    <h2>Sign Up</h2>
  </div>
  <form class="col s12">
    <div class="row">
      <div class="input-field col s10">
        <i class="material-icons prefix">account_circle</i>
        <input id="email" type="email" name="email" class="validate" placeholder="Email" [(ngModel)]="user.email" #email="ngModel"
          required email>
        <label for="email">Email</label>
        <span class="helper-text" *ngIf="email.errors && email.touched">
          <ul>
            <li *ngIf="email.errors.required">Required</li>
            <li *ngIf="email.errors.email">Invalid email format</li>
          </ul>
        </span>
      </div>
      <div class="input-field col s10">
        <i class="material-icons prefix">edit</i>
        <input id="password" type="password" name="password" class="validate" placeholder="password" [(ngModel)]="user.password"
          #password="ngModel" required password>
        <label for="password">Password</label>
        <span class="helper-text" *ngIf="password.errors && password.touched">
          <ul>
            <li *ngIf="password.errors.required">Required</li>
          </ul>
        </span>
      </div>
    </div>
    <div class="row">
      <button class="btn waves-effect teal darken-3" type="submit" name="action">Sign Up
        <i class="material-icons right">send</i>
      </button>
    </div>
  </form>
</div>


<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <input id="input_text" type="text" data-length="10">
        <label for="input_text">Input text</label>
      </div>
    </div>
  </form>
</div>
