/* label color */
.input-field label {
  color: rgb(0, 0, 0);
}
/* label focus color */
.input-field input:focus+label {
  color: rgb(9, 109, 62);
  ;
}
/* label underline focus color */
.input-field input:focus {
  border-bottom: 1px solid rgb(9, 109, 62);
  box-shadow: 0 1px 0 0 rgb(230, 230, 230);
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: rgb(9, 109, 62);
}

.helper-text{
  color: rgb(244, 67, 54);
}

input{
  margin-bottom: 0px;
}
.input-field{
  margin-bottom: 20px; 
}