<div class="row">
  <div class="col s11 offset-s1">
    <a [routerLink]="['/users', user.id]" class="right">
      <i class="medium material-icons prefix">arrow_back</i>
    </a>
    <h2>My details</h2>
    <p>Here you can update your personals details</p>
  </div>
  <form class="col s11 offset-s1" (ngSubmit)="onSubmitUpdate(updateForm)" #updateForm="ngForm">
    <div class="row">
      <div class="input-field col s10">
        <label>{{ apiError }}</label>
      </div>
      <div class="input-field col s10">
        <p>Email</p>
        <i class="material-icons prefix">email</i>
        <input placeholder="Email" disabled value="{{user.email}}" id="disabled" type="text" class="validate">
      </div>
      <div class="input-field col s10">
        <p>Username</p>
        <i class="material-icons prefix">person</i>
        <input placeholder="Username" id="username" type="text" [(ngModel)]="user.username" data-length="10" name="username" class="validate"
          pattern="^.{0,9}$" #username="ngModel">
        <span class="helper-text" *ngIf="username.errors">
          <ul>
            <li *ngIf="username.errors?.pattern">Username length
              < 10</li>
          </ul>
        </span>
      </div>
      <div class="input-field col s10">
        <p>Name</p>
        <i class="material-icons prefix">account_circle</i>
        <input placeholder="Name" id="name" type="text" [(ngModel)]="user.name" name="name" #name="ngModel">
      </div>
      <div class="input-field col s10">
        <p>Family Name</p>
        <i class="material-icons prefix">supervisor_account</i>
        <input placeholder="Family Name" id="familyname" type="text" [(ngModel)]="user.familyname" name="familyname" #familyname="ngModel">
      </div>
      <div class="input-field col s10">
        <p>Telephone</p>
        <i class="material-icons prefix">phone_iphone</i>
        <input placeholder="Telephone" id="telephone" type="text" [(ngModel)]="user.telephone" name="telephone" #telephone="ngModel">
      </div>
      <div class="input-field col s10">
        <p>About</p>
        <i class="material-icons prefix">short_text</i>
        <input placeholder="About" id="about" type="text" [(ngModel)]="user.about" name="about" #about="ngModel">
      </div>
      <div class="input-field col s10">
        <p>Select a language</p>
        <i class="material-icons prefix">language</i>
        <select materialize="material_select" class="icons" id="language" [(ngModel)]="user.language" name="language" #language="ngModel">
          <option value="" disabled selected>Languages</option>
          <option value="en" data-icon="assets/img/en.svg">English</option>
          <option value="es" data-icon="assets/img/es.svg">Spanish</option>
          <option value="fr" data-icon="assets/img/fr.svg">French</option>
          <option value="de" data-icon="assets/img/de.svg">German</option>
          <option value="ru" data-icon="assets/img/ru.svg">Russian</option>
          <option value="pt" data-icon="assets/img/pt.svg">Portuguese</option>
          <option value="ko" data-icon="assets/img/ko.svg">Korean</option>
          <option value="it" data-icon="assets/img/it.svg">Italian</option>
        </select>
      </div>
      <div class="switch col s10">
        <p>You need fill all the fields to become <strong>SuperUser</strong> </p>
        <label>SUPERUSER</label>
        <label>
          Off
          <input disabled *ngIf='user.role === "SUPERUSER"' type="checkbox" checked>
          <input disabled *ngIf='user.role === "USER"' type="checkbox">
          <span class="lever"></span>
          On
        </label>
      </div>
    </div>
    <div class="row">
      <button class="btn waves-effect teal darken-3" type="submit" name="action" [disabled]="!updateForm.valid">
        Update
        <i class="material-icons right" id='btnUpdate'>fast_forward</i>
      </button>
    </div>
  </form>
</div>
